<body>

    <ul class="header">
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#home">Home</a></li>
        <li style="float:left; color: #f2f9f1">
            <h1>LTI</h1>
        </li>
    </ul>


    <div class="container">
        <div class="contact">

            <div class="row" style="border: none">
                <div class="col-6">
                    <h1><u>Contact Details</u> : </h1>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            Email :
                        </div>
                        <div class="col-6">
                            examination@gmail.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Mobile Number :
                        </div>
                        <div class="col-6">
                            +918547548569
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Address :
                        </div>
                        <div class="col-6">
                            Gate No.5, L&T Technology Center, Saki Vihar Rd, IIT Area, Powai, Mumbai, Maharashtra 400072
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Description :
                        </div>
                        <div class="col-6">
                            Description of company
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</body>