<header>
    <img class="logo" src="images/logo.svg" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/">About us</a></li>
            <li><a href="#">Contact us</a></li>
            </ul>
    </nav>
    

    <a routerLink="/login"><button>Login</button></a>
</header>
<div class="banner">
    <div>
An 
<div style="color :#ea7052;display: inline-flex;">Examination portal </div> 
<div>
like no other
</div>
<div id="letgo">
<a  href="#"><button>Let's Go</button></a>
</div>
</div>