<header>
    <img class="logo" src="https://media-exp1.licdn.com/dms/image/C4E0BAQFflQjJWWShsg/company-logo_200_200/0?e=2159024400&v=beta&t=40Rv3ln_R4CKO8KDS2ApwppX4T8NA7pr7OxcCTDwoW0" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/">About us</a></li>
            <li><a href="#">Contact us</a></li>
            </ul>
    </nav>
    

    <a routerLink="/login"><button>Login</button></a>
</header>
<div class="banner">
    <div>
An 
<div style="color :#ea7052;display: inline-flex;">Examination portal </div> 
<div>
like no other
</div>
<div id="letgo">
<a  href="#"><button>Let's Go</button></a>
</div>
</div>