body{
    margin:0%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 1.1%;
    overflow: hidden;
    background-color: rgb(5, 66, 134);
    }

    li {
    float: right;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 150%;
    }

    li a:hover:not(.active) {
    background-color: #111;
    }
p{
    margin:0%;
    padding:4%;
    }
a{
    text-decoration: none;
    color: white;
    }

