<h2>Instructions for technical test</h2>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    <p style="text-align:center;">ggadhbshdbhsbhbvhsabghavbsghfvhgavsghvgahsvgfcvahgsvcghavsghv</p>
    
    <div class="button-container">
    <button class="button2" (click)="navigate()">Start Exam</button>
</div>
