<body>
    <ul>
        <li><a href="#profile">User Profile</a></li>
        <li><a class="active" href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#home">Home</a></li>
        <li style="float:left;"> sample image here</li>
    </ul>
    <div class="card">
        <div class="header">
            <H2 class="dashboard">ADMIN DASHBOARD</H2>
        </div>

        <div class="dashboardOptions">
            <p> <a [routerLink]="'/admin/add-question'">View All Questions</a> </p>
            <p> <a [routerLink]="'/admin/add-question'">Add Questions</a> </p>
            <p> <a [routerLink]="'/admin/remove-question'">Remove Questions</a> </p>
            <p> <a [routerLink]="'/admin/add-question'">View Student Report</a> </p>
        </div>
    </div>
    <div Style="float: left; width: 61%; margin-top:100px; padding-left:5%">
        <h2 style="margin-bottom: 3%;">Delete Questions</h2>
        <form (ngSubmit)="readQuestionList()">
            Select the Subject
            <select name="exam" [(ngModel)]=exam_id>
                <option *ngFor="let i of exam_db" value={{i.exam_id}}>{{i.exam_name}} </option>
            </select>
            <br>
            <input type="submit">
        </form>

    </div>
    <div style="display: block;">
        Select the question to be deleted:
        <form action="">
            <table style="width:100%">
                <tr>
                    <th class="tableNumber"><input type="checkbox"> All</th>
                    <th class="tableNumber">S.No</th>
                    <th class="tableQuestion">Question</th>
                </tr>
                <tr *ngFor="let i of question_bank; let j=index;">
                    <td><input type="checkbox" (click)="addId(question_bank[j].ques_id)" name={{question_id}} value={{question_id}}  > </td> 
                    <td>{{i.ques_id}}</td>
                    <td>{{i.question}}</td>
                </tr>
            </table>
            <button class="deleteButton">Delete</button>
        </form>
    </div>
</body>